@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

*,
::before,
::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: 'Open Sans', sans-serif;
}

/* Color System  */
:root {
    --primary-color: #FD6E0A;
    --white-color:  #ffffff;
    --primary-bg: #FFF8F3;
    --paragraph-color: #757575;
}

.primary-bg {
    background-color: var(--primary-color);;
}

.primary-tc {
    color: var(--primary-color);
}

.btn-primary  {
    background-color: var(--primary-color);
    border-radius: 5px;
    height: 64px;
    color: var(--white-color);
    font-size: 20px;
    border: 0;
    font-weight: 700;
    padding: 16px 36px;
    transition: 0.3s ease-in-out;
}

.btn-transparent  {
    background-color: transparent !important;
    color: var(--white-color);
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    margin-left: 16px;

}

.btn-primary:hover{
    transform: scale(0.99);
}

body {
    box-sizing: border-box;
}

/* Header and navigation styles */

.header {
    background: var(--primary-bg);
    background-image: url(../images/header_bg.png), url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 200px;
    padding: 50px 0px;
}

.logo {
    font-weight: 800; 
    font-size: 45px;
}

nav ul {
    display: flex;
    gap: 20px;
    align-items: center;
}

nav ul li{
    list-style: none;
}

/* Banner styles */
.banner  {
    display: flex;
    margin: 0 200px;
    align-items: center;
}

.banner-title{
    font-weight: 700;
    font-size: 85px;
    margin-bottom: 20px;
}

.banner-sub-title{
    font-weight: 600;
    font-size: 45px;
}

.banner-paragraph {
    color: var(--paragraph-color);
    margin-bottom: 30px;
}


/* Main section */
main{
    width: 1170px;
    margin: 0 auto;
}

/* About styles */

.about {
    margin-top: 130px;
    background-color: var(--primary-bg);
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
}

.section-title {
    text-align: center;
    margin-bottom: 30px;
    font-size: 36px;
    font-weight: 600;
}

.section-description {
    color: var(--paragraph-color);
    margin-bottom: 30px;
    text-align: center;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
}

.about-info p {
    font-size: 20px;
    color: var(--paragraph-color)

}
.about-info p:nth-of-type(2) {
    font-size: 20px;
    font-weight: 700;
}

/* What i do  */
.what-i-do{
    margin-top: 130px;
}

.skills {
    display: flex;
    margin-top: 70px;
    gap: 20px;
}

.skills .skill-card{
    width: 25%;
    padding: 20px;
    margin-bottom: 30px;
    background-color: var(--white-color);
    box-shadow: 0px 6px 50px rgba(0,0,0,0.06);
    border-radius: 5px;
    margin-bottom: 30px;
}

.skills .skill-card h3{
    margin-top: 20px;
    margin-bottom: 30px;
}

.skills .skill-card p{
    color: var(--paragraph-color);
    padding-bottom: 20px;
}

/* Education-and-experience */

.education-and-experience{
    display: flex;
}

.my-education, .my-experience{
    width: 50%;
}